In [3]:
#list
mylist=["banana","apple","cherry"]
print(mylist)
print(len(mylist))

['banana', 'apple', 'cherry']
3

In [6]:
#mutable
list1 = ["abc", 34, True, 40, "male"]
print(list1)
list1 [0]= "xyz"
print(list1)
print(type(list1))

['abc', 34, True, 40, 'male']
['xyz', 34, True, 40, 'male']
<class 'list'>

In [8]:
list = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(list[1])
print(list[-1])
print(list[2:5])
print(list[:4])
print(list[2:])
print(list[-4:-1])

banana
mango
['cherry', 'orange', 'kiwi']
['apple', 'banana', 'cherry', 'orange']
['cherry', 'orange', 'kiwi', 'melon', 'mango']
['orange', 'kiwi', 'melon']

In [32]:
#list method
list2=[2,5,3]
list2.append(4)
print(list2)
list2.sort()
print(list2)
list2.sort(reverse=True)
print(list2)
list2.reverse()
print(list2)

[2, 5, 3, 4]
[2, 3, 4, 5]
[5, 4, 3, 2]
[2, 3, 4, 5]

In [22]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

In [23]:
a = ["apple", "banana", "cherry"]
b = ["mango", "pineapple", "papaya"]
a.extend(b)
print(a)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [27]:
#loop through list
n = ["apple", "banana", "cherry"]
for x in n:
  print(x)

apple
banana
cherry

In [28]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

In [30]:
#tupple
mytuple = ("apple", "banana", "cherry")
print(mytuple)

('apple', 'banana', 'cherry')

In [35]:
tuple1 = ("abc", 34, True, 40, "male")
print(tuple1)
print(type(tuple1))
print(tuple1[1])

('abc', 34, True, 40, 'male')
<class 'tuple'>
34

In [42]:
#unpack tupple
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [49]:
#set
myset = {"apple", "banana", "cherry"}
print(myset)
print(type(myset))
print(len(myset))

{'cherry', 'apple', 'banana'}
<class 'set'>
3

In [50]:
#access not through index,but by loop
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

cherry
apple
banana

In [55]:
#add and remove an item
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")
thisset.remove("banana")
print(thisset)

{'orange', 'cherry', 'apple'}

In [56]:
coo=set()#empty set
coo.add(1)
coo.add(2)
coo.add(2)
coo.remove(1)
print(coo)

{2}

In [59]:
set1={1,2,3}
set2={3,4,5}
print(set1.union(set2))
print(set1.intersection(set2))

{1, 2, 3, 4, 5}
{3}

In [70]:
#dictionary
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

print(type(thisdict))
print(len(thisdict))

print()
print(thisdict.keys())

print(thisdict.values())

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
<class 'dict'>
3

dict_keys(['brand', 'model', 'year'])
dict_values(['Ford', 'Mustang', 1964])

In [73]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"year": 2020})
thisdict["color"] = "red"
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 2020, 'color': 'red'}

In [74]:
for x in thisdict:
  print(thisdict[x])

Ford
2020
red

In [85]:
#nested
student={
    "name":"khushi shukla",
    "subjects": {
        "physics": 97,
        "chem": 98,
        "math": 99
    }
}
print(student)
print(student["subjects"])
print(student["subjects"]["chem"])

{'name': 'khushi shukla', 'subjects': {'physics': 97, 'chem': 98, 'math': 99}}
{'physics': 97, 'chem': 98, 'math': 99}
98