In [2]:
#if statement
a=30
b=299
if(b>a):
    print ("b is greater than a" )

b is greater than a

In [5]:
# elif
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In [6]:
#else
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [7]:
a = 2
b = 330
print("A") if a > b else print("B")

B

In [8]:
#nested
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

In [9]:
#pass
a = 33
b = 200

if b > a:
  pass
#if is empty it gives error

In [15]:
#ex
light=input("Enter light of traffic signal:")
if(light=="red"):
    print("stop")
elif(light=="yellow"):
    print("wait")
elif(light=="green"):
    print("go")
else:
    print("light is broken")
    
print("end of code")

Enter light of traffic signal: green

go
end of code

In [18]:
#match statement
day=4
match day:
  case 1:
    print("Monday")
  case 2:
    print("Tuesday")
  case 3:
    print("Wednesday")
  case 4:
    print("Thursday")
  case 5:
    print("Friday")
  case 6:
    print("Saturday")
  case 7:
    print("Sunday")
  case _:
    print ("null")

Thursday

In [29]:
day = 4
match day:
  case 1 | 2 | 3 | 4 | 5:
    print("Today is a weekday")
  case 6 | 7:
    print("I love weekends!")

Today is a weekday

In [35]:
# while
n=3
i = 1
while i < 10:
  print(n*i)
  i += 1

3
6
9
12
15
18
21
24
27

In [31]:
#break ; continue
i = 0
while i < 10:
  i += 1
  if i == 3:
    continue
  if i==5:
      break
  print(i)

1
2
4

In [36]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [38]:
 #for
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [39]:
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

In [40]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry